# Игнорировать папку node_modules
node_modules/

# Игнорировать кеш Python
__pycache__/
*.pyc

# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать файлы логов
*.log

# Игнорировать скомпилированные файлы Java
*.class

# Игнорировать временные файлы
*.tmp

# Игнорировать файлы переменных окружения
.env

# Игнорировать файлы баз данных
*.sqlite3

# Игнорировать файлы настроек IDE
.idea/
.vscode/

# Игнорировать каталоги сборки
/dist
/build
